{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div id="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="box">
                            <h2 class="text-uppercase">Agregar Nueva Promoción</h2>

                            <p class="text-muted">Si surge algún problema <a href="contact.html">contáctanos</a>, nuestro equipo está disponible 24/7.</p>

                            <hr>

                            <form action="{% url 'register_user' %}" method="post">
                                <div class="form-group">
                                    <label>Título de la promoción</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Día y horario</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Empresa</label>
                                    <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Categoría</label>
                                    <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                </di
                                <div class="form-group">
                                    <label>Imagen</label>
                                    <input type="file" class="form-control">
                                </div>
                                <div class="text-center">
                                    <input type="submit" value="Agregar Promoción" class="btn btn-template-main"></input>
                                </div>
                                <br>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
{% endblock %}