{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="home-carousel">

            <div class="dark-mask"></div>

            <div class="container">
                <div class="homepage owl-carousel">
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-5 right">
                                <p>
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </p>
                                <h1>Pizza Personal Gratis!</h1>
                                <p>Marengo Pizzeria
                                    <br />1:00PM - 1:30 PM</p>
                            </div>
                            <div class="col-sm-7">
                                <img class="img-responsive" src="https://vignette2.wikia.nocookie.net/risassonrisas-y-carcajadas/images/f/f4/Pizza.png/revision/latest?cb=20140126003432&path-prefix=es" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-5 right">
                                <p>
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </p>
                                <h1>3 meses Gratis!</h1>
                                <p>Spotify
                                    <br />Pídelo ahora</p>
                            </div>
                            <div class="col-sm-7">
                                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/2/26/Spotify_logo_with_text.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.project owl-slider -->
            </div>
        </div>
    </section>
    <section class="bar background-white no-mb">
        <div class="container">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Promociones Recientes</h2>
                </div>
                {% for product in products %}
                <div class="row">
                    <div class="col-md-6" style="margin: 10px 0px">
                        <div class="col-sm-4">
                            <a href="{% url 'detail_product' pk=product.id %}">
                                <img class="img-responsive" src="{{ product.image_url }}">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <h5>{{ product.company }}</h5>
                            <a href="{% url 'detail_product' pk=product.id %}">
                                <h4>{{ product.description }}</h4>
                            </a>
                            <span>{{ product.date }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /.row -->
            </div>
        </div>
    </section>
{% endblock %}



