{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div id="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <h2 class="text-uppercase">Nueva Cuenta</h2>

                            <p>Registrate a nuestra plataforma, para obtener grandes promociones y hasta cosas gratis! Este proceso no te tomará más de un minuto.</p>
                            <p class="text-muted">Si tienes alguna pregunta, por favor <a href="contact.html">contáctanos</a>, nuestro personal de servicio al cliente está trabajando para ti 24/7. </p>
                            <hr>

                            <form action="{% url 'register_user' %}" method="post">
                                <div class="form-group">
                                    <label for="name-login">Usuario</label>
                                    <input type="text" class="form-control" name="username">
                                </div>
                                <div class="form-group">
                                    <label for="email-login">Email</label>
                                    <input type="text" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="password-login">Contraseña</label>
                                    <input type="password" class="form-control" name="password1">
                                </div>
                                <div class="form-group">
                                    <label for="password-login">Repite la contraseña</label>
                                    <input type="password" class="form-control" name="password2">
                                </div>
                                <div class="text-center">
                                    <input type="submit" value="Registrarse" class="btn btn-template-main"></input>
                                </div>
                                <br>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
{% endblock %}